@model Foxtrot.Dtos.UserDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="card card-shadow card-padding">
    <div class="card-header white">
        <span class="card-title">New user</span>
    </div>
    <div class="card-body">
        <form asp-controller="Users" asp-action="Create" method="post">
            <div class="form-group">
              <label for="Id">Id</label>
              <input readonly asp-for="Id" class="form-control" id="Id">
            </div>
            <div class="form-group">
              <label for="FullName">FullName</label>
              <input asp-for="FullName" class="form-control" id="FullName">
            </div>
            <div class="form-group">
              <label for="Email">Email</label>
              <input type="email" asp-for="Email" class="form-control" id="Email">
            </div>
            <div class="form-group">
              <label for="Password">Password</label>
              <input type="password" asp-for="Password" class="form-control" id="Password">
            </div>
            <div class="form-group">
                <label for="Address">Address</label>
                <textarea class="form-control" asp-for="Address" id="Address" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="Dni">Dni</label>
                <input asp-for="Dni" class="form-control" id="Dni">
            </div>
            <div class="form-group">
                <label for="RoleId">Role</label>
                <select asp-for="RoleId" class="form-control" name="RoleId" id="RoleId">
                    <option selected>Choose...</option>
                    @foreach (Role role in ViewBag.Roles)
                    {
                        <option value="@role.Id">@role.Name</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary align-button-right">Create</button>
          </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

