@model Foxtrot.Models.Role

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Role</h4>
<hr />
<div class="card card-shadow card-padding">
    <div class="card-header white">
        <span class="card-title">New role</span>
    </div>
    <div class="card-body">
        <form asp-controller="Roles" asp-action="Create" method="post">
            <div class="form-group">
              <label for="Id">Id</label>
              <input readonly asp-for="Id" class="form-control" id="Id">
            </div>
            <div class="form-group">
              <label for="Name">Name</label>
              <input asp-for="Name" class="form-control" id="Name">
            </div>
            <div class="form-group"> 
                <label for="Description">Description</label>
                <textarea class="form-control" asp-for="Description" id="Description" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary align-button-right">Create</button>
          </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>