@model IEnumerable<Foxtrot.Models.Role>

@{
    ViewData["Title"] = "Index";
}

<div class="card card-shadow card-table">
    <div class="card-header white">
        <span class="card-title">Roles</span>
        <a class="btn btn-primary float-right"
           asp-controller="Roles"
           asp-action="Create">
            <span>Create</span>
        </a>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>
                        <span>@role.Name</span>
                    </td>
                    <td>
                        <span>@role.Description</span>
                    </td>
                    <td>
                        <a asp-controller="Roles" asp-action="Edit" asp-route-id="@role.Id">
                            <img src="~/img/icono.editar.png" class="img-edit" alt="edit"/>
                        </a>
                        <a asp-controller="Roles" asp-action="Delete" asp-route-id="@role.Id">
                            <img src="~/img/icono.borrar.png" class="img-edit" alt="edit"/>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
