@model Foxtrot.Models.Appointment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Appointment</h4>
<hr />

<div class="card card-shadow card-padding">
    <div class="card-header white">
        <span class="card-title">Nueva cita</span>
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="Service">Service</label>
                <select id="Service" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="Provider">Provider</label>
                <select id="Provider" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="startDate">Start Date</label>
              <input type="date" asp-for="StartDate" class="form-control" id="startDate">
            </div>
            <div class="form-group">
              <label for="endDate">End Date</label>
              <input type="date" asp-for="EndDate" class="form-control" id="endDate">
            </div>
            <div class="form-group"> 
                <label for="exampleFormControlTextarea1">Note</label>
                <textarea class="form-control" asp-for="Note" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary align-button-right">Save</button>
          </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
